
<h2>Create a Coach</h2>
<form action="/createCoach" method="POST">

  <div>
    <label class="form-label">
      First Name:
      <input class="form-control" type="text" name="firstName" />
    </label>
    <label class="form-label">
      Last Name:
      <input class="form-control" type="text" name="lastName" />
    </label>
  </div>

  <div>
    <label class="form-label">
      Phone Number:
      <input class="form-control" type="text" name="phoneNumber" />
    </label>
  </div>

  <div>
    <label class="form-label">
      State:
      <input class="form-control" type="text" name="location" />
    </label>
  </div>

  <div>
    <label class="form-label">
      ratings:
      <input class="form-control" type="text" name="ratings" />
    </label>
  </div>

  <button class="btn btn-primary" type="submit">Create</button>
</form>
